<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #dedcda;

        }



        header {
            padding: 10px;
            text-align: center;
        }

        h1 {
            margin: 0;

        }

        .days-container {
            display: flex;
            text-align: center;
        }

        .day {
            background-color: #f0f0f0;
            flex: 1;
            border: 2px solid black;
            margin: 0 5px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .days-container :hover {
            background-color: #e6ccb2;

            transition: background-color 0.3s ease;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
        }

        .red {
            background-color: #f38375;
            border: #780116 3px solid;
        }

        .orange {
            background-color: #ffbf69;
            border: #f3722c 3px solid;
        }

        .clear-button {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .green {
            background-color: #c1ff9b;
            border: #04471c 3px solid;
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            z-index: 1000;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .graph-container {
            position: relative;
            width: 80%;
            margin: 0 auto;
        }

        .legend {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .legend-item {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

        .legend-item div {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        @media screen and (max-width: 1000px) {
            body {
                margin: 0;
            }

            .day {
                flex: 100%;
                margin: 0 0 20px 0;
            }

            .days-container {
                flex-direction: column;
                align-items: center;
            }
        }
    </style>
</head>

<body>
    <header>
        <span><img src="/css/icons8-coffee-64.png"></span>
        <h1>Welcome to the Admin Dashboard</h1>

    </header>
    <br>

    <br>
    <div>
        <div class="legend">
            <div class="legend-item">
                <div style="background-color: #ff0000;"></div>
                <span>Too many waiters</span>
            </div>
            <div class="legend-item">
                <div style="background-color: #00ff00;"></div>
                <span>Just enough waiters</span>
            </div>
            <div class="legend-item">
                <div style="background-color: #f3722c;"></div>
                <span>Not enough waiters</span>
            </div>

        </div>
    </div>

    <div style="diplay:flex; align-items:center">
        <h2 style="text-align: center;">Manage Waiters</h2>
    </div>

    <br>

    <form action="/days" method="get">
        {{#if clearData}}
        <p class="greenMessage">{{ clearData }}</p>
        {{/if}}

        <div class="days-container">
            {{#each availability}}
            <div class="day {{ @key }} {{#if this.stats}}{{this.stats}} {{/if}}">

                <h2>{{@key}}</h2>
                {{#if this.x.length}}
                <ul>
                    {{#each this.x}}
                    <li>
                        <span>{{this}}</span>

                    </li>
                    {{/each}}
                </ul>
                {{else}}
                <p style="color: #adb5bd;">No waiters available</p>
                {{/if}}


            </div>
            {{/each}}
        </div>
    </form>
    <script>
        setTimeout(function () {
            document.querySelector(".greenMessage").style.display = "none";
        }, 4000);
    </script>


    <form action="/clear" method="post">
        <button type="submit" class="clear-button"
            onclick="return confirm('Are you sure you want to clear this week\'s data?')">Clear week data</button>
    </form>


</body>

</html>