<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
body {
    background-color: #dedcda;
    margin: 0;
}

header {
       padding: 10px;
            text-align: center;
            align-items: center;
            justify-content: center;
}

h1 {
    margin: 0;
}

.days-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusted for responsiveness */
    gap: 10px;
    margin: 20px;
    padding: 20px;
}

.day {
    background-color: #f0f0f0;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 5px;
}

.day:hover {
    transform: scale(0.98);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.red {
    background-color: #f38375;
    border: #780116 3px solid;
}

.orange {
    background-color: #ffbf69;
    border: #f3722c 3px solid;
}

.green {
    background-color: #c1ff9b;
    border: #04471c 3px solid;
}

.clear-button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.graph-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.legend {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item div {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@media screen and (max-width: 1000px) {
    .day {
        flex: 100%;
        margin: 0 0 20px 0;
    }

    .days-container {
        flex-direction: column;
        align-items: center;
    }
}

    </style>
</head>

<body>
    <header>
        <span><img src="/css/icons8-coffee-64.png"></span>
        <h1>Welcome to the Admin Dashboard</h1>

    </header>
    <br>

    <br>
    <div>
        <div class="legend">
            <div class="legend-item">
                <div style="background-color: #ff0000;"></div>
                <span>Too many waiters</span>
            </div>
            <div class="legend-item">
                <div style="background-color: #00ff00;"></div>
                <span>Just enough waiters</span>
            </div>
            <div class="legend-item">
                <div style="background-color: #f3722c;"></div>
                <span>Not enough waiters</span>
            </div>

        </div>
    </div>
       {{#if clearData}}
        <p class="greenMessage">{{ clearData }}</p>
        {{/if}}

    <div style="diplay:flex; align-items:center">
        <h2 style="text-align: center;">Manage Waiters</h2>
    </div>

    <br>

    <form action="/days" method="get">
     

        <div class="days-container">
            {{#each availability}}
            <div class="day {{ @key }} {{#if this.stats}}{{this.stats}} {{/if}}">

                <h2>{{@key}}</h2>
                {{#if this.x.length}}
                <ul>
                    {{#each this.x}}
                    <li>
                        <span>{{this}}</span>

                    </li>
                    {{/each}}
                </ul>
                {{else}}
                <p style="color: #adb5bd;">No waiters available</p>
                {{/if}}


            </div>
            {{/each}}
        </div>
    </form>
    <script>
        setTimeout(function () {
            document.querySelector(".greenMessage").style.display = "none";
        }, 4000);
    </script>


    <form action="/clear" method="post">
        <button type="submit" class="clear-button"
            onclick="return confirm('Are you sure you want to clear this week\'s data?')">Clear week data</button>
    </form>


</body>

</html>